table,
tr,
th,
td{
    border: 1px salmon;
    width: 50%;
    text-align: center;
    border-collapse: collapse;
}
     tr:nth-child(even){
        background-color: chartreuse;
     }
     button{
        background-color: chocolate;
        height: 40px;
        width: 40px;
        border: none;
     }
     button:hover{
        background-color: crimson;
        cursor: pointer;
     }
